#Ignore working directories used by IDEs, etc
.idea/
.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/calculator/calculator-go
cmd/populator/populator-go
cmd/populator-api/populator-api-go
cmd/subscriber/subscriber-go

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

